/.project
.ijwb
**/.idea
**/*.iml
**/*.ipr
**/*.iws
/logs/
/bin/
/.tmp/
**/.DS_Store
idea.vmoptions

**/project/target/
/target/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.bak
.sbtrc

node_modules
cypress/downloads/*
cypress/screenshots/*
cypress/videos/*
app/public/app/version.txt
.vscode
